# Hostinger MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

# Site
NEXT_PUBLIC_SITE_URL=https://daily.deals
NEXT_PUBLIC_SITE_NAME=Daily.Deals

# Admin
ADMIN_PASSWORD=change_this_password

# Affiliate Tags
NEXT_PUBLIC_AMAZON_US_TAG=dailydeals-us-20
NEXT_PUBLIC_AMAZON_CA_TAG=dailydeals-ca-20

# Scraper (add later)
APAFY_API_KEY=
